<header class="header">
    <nav class="header__navbar">
        <!-- logotipo -->
        <div class="header__logo">
            <a href="./index.html" title="Ciberweek" aria-label="Ir al contenido principal" >
                <i class="fa-solid fa-lock"></i>
            </a>
        </div>

        <!-- barra de navegación -->
        <ul class="header__navigation">

            <li>
                <a class="header__link" href="./index.html" aria-label="Enlace a Home">Home</a>
            </li>

            <li>
                <a class="header__link" href="./speakers.html" aria-label="Enlace a Ponentes">Ponentes</a>
            </li>

            <li>
                <a class="header__link" href="./blog.html" aria-label="Enlace a Blog">Blog</a>
            </li>

            <li>
                <a class="header__link" href="./gallery.html" aria-label="Enlace a Gallary">Gallery</a>
                </li>

        </ul>

        <!-- icono de hamburguesa -->
        <button class="header__hamburguesa" aria-label="Abrir el menú de navegación">
            <span class="header__hamburguesa-line"></span>
            <span class="header__hamburguesa-line"></span>
            <span class="header__hamburguesa-line"></span>
        </button>
    </nav>
</header>
